.idea/
.nyc_output/
coverage

node_modules/
lib/
artifacts/

universal-editor-standalone/app/bundle.js
universal-editor-standalone/app/bundle.js.map
universal-editor-standalone/app/*.ttf

*.ttf
*.log
*.jar
.DS_Store

!packages/client/src/lib
tsconfig.tsbuildinfo
eslint.xml
report.xml
**/ctrf
universal-editor-standalone/server
