.idea/
.nyc_output/
coverage

node_modules/
lib/
artifacts/

workflow-standalone/app

*.ttf
*.log
*.jar
.DS_Store

!packages/client/src/lib
tsconfig.tsbuildinfo
eslint.xml
report.xml
**/ctrf
workflow-standalone/server
